
#timeControls{
  vertical-align: middle;
  display: table;
}

#playControls{
  display: table-cell;
}
#playSlider, #prevSlider, #nextSlider {
  display: table-cell;
}
#sliderContainer{
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
#timeLabel{
  display: table-cell;
  text-align: left;
  padding:0 0 0 1em;
  width:auto;
  white-space: nowrap;
  vertical-align: middle;
}
.calcite .dijitSliderBarContainerH{
  padding:0;
}
.calcite .dijitSliderBarH, .calcite .dijitSliderBumperH {
    height: 5px;
    border-radius: 5px;
}
